/vendor
/public/bower_components
/public/i18n
/public/js
/public/ng4
/public/ng8
/public/ng8_
/public/forte.html
public/assets/css/all.css
public/assets/css/all.css.map
public/assets/css/app.min.css
public/assets/css/ui-grid.*
/public/assets/fonts
/**/node_modules
.DS_Store
.env
.env.*
.idea
.vscode/*
_ide_helper.php
**/.sass-cache
**/.sass-cache/*
config/f.app
config/crm.app
config/crm7.app
config/crm2.dev8000
config/localhost
config/local
config/clm
config/tcg
config/testing/app.php
config/testing/database.php
config/crm2015.local

config/testing/system_settings.php
config/homestead.app*
config/crmlocal.app
config/crm2015
config/192.168.10.103
config/192.168.10.106
config/192.168.10.109
installation/environments.php

tests/_data/upload
tests/_data/files
tests/_support/_generated
config/tcg2015.friendlycmms.com
dump
dump_wo_update.sql

cookie-name

storage/*
storage/thumbs
storage/mobile/debug/db
storage/mobile/debug/sql
storage/mobile/debug/filelist
!storage/store_map.json

.php_cs.cache
.php-cs-fixer.cache

/public/app.checksum.json
/public/assets/images/customer-logo.png
/config/crm2015.fs/
/config/crm2015.bfc/
/config/crm2015.clm/
/config/crm2015.mighty/
/config/crm2015.fs/
!/tests/unit/File/assets/test_output.pdf
/storage/wgln/*

/.phpstorm.meta.php
/_ide_helper.php

composer.lock